.odd {background-color: lightcoral;}

.n1 {font-style:'Verdana';}

#n2 {color:navy;
font-size:36px;}

.n3 {font-size: 24px;
    font-weight:bold;
font-style:'DejaVuSans';}

#n4 {background-color:lightgreen;
    font-weight:bold;
font-size:24px;}

.n5 {font-style:'sans-serif';}


